<header class="am-topbar">
    <div class="am-u-lg-12">
        <h1 class="am-topbar-brand am-u-lg-2">
            <span>欢迎来到刀小七的大家庭</span>
        </h1>
    </div>
    <div class="am-u-lg-11">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li class="{{'am-active' if name=='index' else ''}}">
                <a href="/index">我的主页</a>
            </li>
             <li class="{{'am-active' if name=='merge' else ''}}">
                <a href="/merge">图片合成</a>
            </li>
            <li class="{{'am-active' if name=='tf' else ''}}">
                <a href="/tf">TF</a>
            </li>
            <li class="{{'am-active' if name=='mongo' else ''}}">
                <a href="/mongo">Mongo笔记</a>
            </li>
        </ul>
    </div>
</header>