<div class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="{{'active' if name=='index' else ''}}">
                <a href="#">首页</a>
            </li>
            <li class="{{'active' if name=='page' else ''}}">
                <a href="/m/page/list">主页素材管理</a>
            </li>
            <li class="{{'active' if name=='poster' else ''}}">
                <a href="/m/poster/list">海报素材管理</a>
            </li>
            <li class="{{'active' if name=='wxuser' else ''}}">
                <a href="/m/user/list">用户管理</a>
            </li>
            <li class="{{'active' if name=='cert' else ''}}">
                <a href="/m/cert/organ/list">认证管理</a>
            </li>
            <li class="{{'active' if name=='wxorder' else ''}}">
                <a href="/m/order/list">订单管理</a>
            </li>

        </ul>
    </div>
</div>