<header class="am-topbar">
    <div class="am-u-lg-12">
        <h1 class="am-topbar-brand am-u-lg-2">
            <a href="#">{{gconf['web_name']}}管理后台</a>
        </h1>
    </div>
    <div class="am-u-lg-11">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li class="{{'am-active' if name=='user' else ''}}">
                <a href="/tf/user/index">用户识别</a>
            </li>
            <li class="{{'am-active' if name=='source' else ''}}">
                <a href="/tf/source/train/index">图片资源</a>
            </li>
            <li class="{{'am-active' if name=='model' else ''}}">
                <a href="/tf/model/number">模型训练</a>
            </li>

        </ul>
    </div>
</header>