{% extends "../layout/base.html" %}


{% block base_meta %}
{% block meta %}{% end %}
{% end %}

{% block base_css %}
<!-- Bootstrap -->
{% module Template("macro/css.html", filepath='back/css/bootstrap.min.css') %}
{% module Template("macro/css.html", filepath='back/css/background.css') %}
{% block css %}{% end %}
{% end %}


{% block base_js %}
{% module Template("macro/importjs.html", filepath='js/bootstrap.min.js') %}
{% module Template("macro/importjs.html", filepath='js/common/formUtils.js') %}
<script>
    $(function () {
        $('#J-login-btn').click(function () {
            var data = $.fn.formUtils.formData('form');
            console.log(data);
            $.post(window.location.pathname, data, function (res) {
                if (res.status == 1) {
                    window.location.href = '/m/poster/list';
                }
            }, 'json');
        });
    });
</script>
{% end %}

{% block body%}

<div class="page-header">
    <h3 class="g-logo" style="margin: 0 auto;">欢迎来到菜鸟天堂</h3>
</div>
<div class="row">
    <div class="col-xs-2 col-xs-offset-5">
        <form>
            <div class="form-group">
                <input type="text" name="username" id="uname" placeholder="账号" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="pwd" placeholder="密码" class="form-control">
            </div>
            <div class="alert alert-danger" style="display: none;">
                <strong>失败！</strong> 失败细节啥啥啥...
            </div>
            <div class="form-group pull-right">
                <a class="btn btn-primary" id="J-login-btn"> 登录 </a>
            </div>
        </form>
    </div>

</div>


{% end %}
