{% extends "../layout/mbase.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css">
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
<script src="//cdn.bootcss.com/amazeui/2.7.2/js/amazeui.widgets.helper.min.js"></script>
<style>
    tr {
        width: 100%;
    }

    tr td {
        width: 11.1%;
    }
</style>
{% end %}
{% module Template("module/js.html", filepath='js/common/formUtils.js') %}
<script src="//cdn.bootcss.com/plupload/2.1.9/plupload.full.min.js"></script>
{% block js %}
<script>
    $(function () {
        $('#train').click(function () {
            $.post(window.location.pathname, function (res) {
                if (res.status == 1) {
                    alert(1)
                }
            })
        })
    });

</script>
{% end %}
{% block nav %}
{% module Template("module/mbacknav.html", name='train') %}
{% end %}
{% block container%}

<div class="am-g am-u-lg-10 am-u-md-12  am-u-sm-centered">
    <div class="am-u-md-12">
        <div class="am-cf">
            <h2 class="am-fl am-margin-0"></h2>
        </div>
        <hr>
    </div>
    <div class="am-u-md-2" style="border-right: 1px solid #eee;">
        <ul class="am-nav am-text-center">
            <li class="am-active"><a href="javascript:;">占坑</a></li>
            <li><a href="javascript:;">占坑</a></li>
        </ul>
    </div>

    <div class="am-u-md-10">
        <div class="am-form-group am-fr">
            <a href="javascript:;" class="am-btn am-btn-primary am-btn-sm am-fr" id="train">开始训练</a>

            <span class="am-form-caret"></span>
        </div>
    </div>
</div>

{% end %}