{% extends "../layout/mmbase.html" %}


{% block base_meta %}
<meta name="format-detection" content="telephone=no,email=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{% block meta %}{% end %}
{% end %}

{% block base_css %}
<!-- AmazeUI -->
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css">
{% block css %}{% end %}
{% end %}


{% block base_js %}
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
<script src="//cdn.bootcss.com/amazeui/2.7.2/js/amazeui.widgets.helper.min.js"></script>
{% block js %}{% end %}
{% end %}

{% block body%}

{% block nav %}{% end %}

{% block container %}
{% end %}

{% end %}