body {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.zb-header-links {
  margin-top: 30px;
}
.zb-header-links a {
  color: #999;
}
.g-logo {
  width: 180px;
  height: 30px;
  display: block;
  background: url(../../img/logo.jpg) no-repeat;
}
/*layout*/
.layout-mt10 {
  margin-top: 10px;
}
.layout-mt20 {
  margin-top: 20px;
}
.layout-mt30 {
  margin-top: 30px;
}
.layout-mt40 {
  margin-top: 40px;
}
.layout-mr10 {
  margin-right: 10px;
}
.layout-mr20 {
  margin-right: 20px;
}
.layout-mr30 {
  margin-right: 30px;
}
.layout-mr40 {
  margin-right: 40px;
}
.layout-ml10 {
  margin-left: 10px;
}
.layout-ml20 {
  margin-left: 20px;
}
.layout-ml30 {
  margin-left: 30px;
}
.layout-ml40 {
  margin-left: 40px;
}