{% extends "../layout/amzbase.html" %}
{% block css %}
{% end %}
{% module Template("module/js.html", filepath='js/common/formUtils.js') %}
{% block js %}
<script src="/static/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/static/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/static/assets/js/amazeui.min.js"></script>
<script>
    function selectImage(file) {
        if (!file.files || !file.files[0]) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            var img = $(file).parents().prev('img');
            img.attr('src', evt.target.result);
        };
        reader.readAsDataURL(file.files[0]);
    }
    function uploadImage() {
        $.post(window.location.pathname, {back: $("#back").val(), sub: $("#sub").val()}, function (res) {
            if (res.status == 1) {
                alert("oK")
            }
        }, 'json');
    }
</script>
{% end %}


{% block container%}
<!-- header start -->
{% block header %}
{% module Template("module/backheader.html", name='pic') %}
{% end %}
<hr>
<!-- header end -->
<!-- nav start -->
{% block nav %}
{% module Template("module/backnav.html", name='pic') %}
{% end %}
<hr>
<!-- nav end -->
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-form-group am-form-file">
        <label class="am-u-sm-2 am-form-label" style="margin-top: 1.6em">合成背景图</label>
        <div class="am-u-sm-4">
            <img class="am-radius" id="back" src="http://placehold.it/100x100" style="width: 100px;height: 100px"/>
            <button type="button" class="am-btn am-btn-default">
                <i class="am-icon-cloud-upload">
                    <input type="file" onchange="selectImage(this);"
                           style="font-size: inherit;margin-top:100px;margin-left:20px;width:180px;height:40px"/>
                </i> 选择要上传的文件
            </button>


            <p class="am-form-help">图片格式：jpg 不大于2M</p>
        </div>

        <label class="am-u-sm-2 am-form-label" style="margin-top: 1.6em">合成附加图</label>
        <div class="am-u-sm-4">
            <img class="am-radius" id="sub" src="http://placehold.it/100x100" style="width: 100px;height: 100px">
            <button type="button" class="am-btn am-btn-default" id="J-img-2">
                <i class="am-icon-cloud-upload">
                    <input type="file" onchange="selectImage(this);"
                           style="font-size: inherit;margin-top:100px;margin-left:20px;width:180px;height:40px"/>
                </i> 选择要上传的文件
            </button>
            <p class="am-form-help">图片格式：jpg 不大于2M</p>
        </div>
        <input type="button" onclick="uploadImage();" value="提交"/>
    </div>
</div>
<!-- content end -->
{%end%}